header {
    background-color: rgb(71, 94, 58);
    align-items: center;
}

bg.light{
    background: #E5E5E5;
  }


.wizard-nav-content {
    display: flex;
    justify-content: space-between;
}

.wizard-weather-container {
    display: flex;
}

container {
    display: flex;
    
}