@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --color-primary: #6ba53f;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.weather {
    text-align: center;
    font-size: 14px;
}

h4 {
    margin: 0;
}

ul, li{
    list-style:none;
    list-style-type:none;
    padding: 0;
}

.footer {
  font-size: 12px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 0;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}
